<a href="https://colab.research.google.com/github/Zimi1214/Final-Project/blob/master/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
import string
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [33]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [7]:
link_fake='https://drive.google.com/open?id=1sTzWwA8JCiBKH9u364c-kezhMnTiHsvI'
fluff, id1 = link_fake.split('=')
print (id1) # Verify that you have everything after '='

1sTzWwA8JCiBKH9u364c-kezhMnTiHsvI

In [9]:
link_true='https://drive.google.com/open?id=1fhYamoD4zvINmJF33sxhaMz7ynpmpsN9'
fluff, id2 = link_true.split('=')
print (id2) # Verify that you have everything after '='

1fhYamoD4zvINmJF33sxhaMz7ynpmpsN9

In [0]:
downloaded = drive.CreateFile({'id':id1}) 
downloaded.GetContentFile('Fake.csv')
downloaded = drive.CreateFile({'id':id2})
downloaded.GetContentFile('True.csv')

In [0]:
df_fake=pd.read_csv('Fake.csv')
df_true=pd.read_csv('True.csv')

In [14]:
df_fake.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [15]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [16]:
df_fake.describe(include='all')

                                                    title  ...          date
count                                               23481  ...         23481
unique                                              17903  ...          1681
top     MEDIA IGNORES Time That Bill Clinton FIRED His...  ...  May 10, 2017
freq                                                    6  ...            46

[4 rows x 4 columns]

In [17]:
df_fake['subject'].value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [0]:
df_fake['text']=df_fake['title'].astype(str)+df_fake['text'].astype(str)
df_fake['type']=0
df_fake.drop(columns=['title','date'],inplace=True)

In [19]:
df_true.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [0]:
df_true['text']=df_true['title'].astype(str)+df_true['text'].astype(str)
df_true['type']=1
df_true.drop(columns=['title','date'],inplace=True)

In [21]:
df_true['subject'].value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [22]:
df=pd.concat([df_fake,df_true])
df.head()

                                                text subject  type
0   Donald Trump Sends Out Embarrassing New Year’...    News     0
1   Drunk Bragging Trump Staffer Started Russian ...    News     0
2   Sheriff David Clarke Becomes An Internet Joke...    News     0
3   Trump Is So Obsessed He Even Has Obama’s Name...    News     0
4   Pope Francis Just Called Out Donald Trump Dur...    News     0

In [23]:
df.tail()

                                                    text    subject  type
21412  'Fully committed' NATO backs new U.S. approach...  worldnews     1
21413  LexisNexis withdrew two products from Chinese ...  worldnews     1
21414  Minsk cultural hub becomes haven from authorit...  worldnews     1
21415  Vatican upbeat on possibility of Pope Francis ...  worldnews     1
21416  Indonesia to buy $1.14 billion worth of Russia...  worldnews     1

In [24]:
df.describe(include='all')

                                                     text  ...          type
count                                               44898  ...  44898.000000
unique                                              39105  ...           NaN
top     Highlights: The Trump presidency on April 13 a...  ...           NaN
freq                                                    8  ...           NaN
mean                                                  NaN  ...      0.477015
std                                                   NaN  ...      0.499477
min                                                   NaN  ...      0.000000
25%                                                   NaN  ...      0.000000
50%                                                   NaN  ...      0.000000
75%                                                   NaN  ...      1.000000
max                                                   NaN  ...      1.000000

[11 rows x 3 columns]

In [25]:
df['type'].value_counts()

0    23481
1    21417
Name: type, dtype: int64

In [26]:
df['subject'].value_counts()

politicsNews       11272
worldnews          10145
News                9050
politics            6841
left-news           4459
Government News     1570
US_News              783
Middle-east          778
Name: subject, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44898 entries, 0 to 21416
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   text     44898 non-null  object
 1   subject  44898 non-null  object
 2   type     44898 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [28]:
df.iloc[0,0]

' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is DisturbingDonald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [0]:
porter = PorterStemmer()
stop_words = stopwords.words('english')

for i in np.arange(0,44898):
    text_tokens = word_tokenize(df.iloc[i,0])
    text_tokens = [w.lower() for w in text_tokens]
    tokens_without_sw = [word for word in text_tokens if not word in stop_words]
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in tokens_without_sw]
    words = [word for word in stripped if word.isalpha()]
    stemmed = [porter.stem(word) for word in words]
    join_back = (" ").join(stemmed)
    df.iloc[i,0] = join_back

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [37]:
df.iloc[0,0]

'donald trump send embarrass new year eve messag disturbingdonald trump wish american happi new year leav instead give shout enemi hater dishonest fake news media former realiti show star one job countri rapidli grow stronger smarter want wish friend support enemi hater even dishonest fake news media happi healthi new year presid angri pant tweet great year america countri rapidli grow stronger smarter want wish friend support enemi hater even dishonest fake news media happi healthi new year great year america donald j trump realdonaldtrump decemb tweet went welll expectwhat kind presid send new year greet like despic petti infantil gibberish trump lack decenc even allow rise gutter long enough wish american citizen happi new year bishop talbert swan talbertswan decemb one like calvin calvinstowel decemb impeach would make great year america also accept regain control congress miranda yaver mirandayav decemb hear talk includ mani peopl hate wonder hate alan sandov decemb use word hater new year wish marlen decemb say happi new year koren pollitt korencarp decemb trump new year eve tweet new year includ mani enemi fought lost badli know love donald j trump realdonaldtrump decemb noth new trump yearstrump direct messag enemi hater new year easter thanksgiv anniversari daniel dale decemb holiday tweet clearli presidentialhow long work hallmark becom presid steven goodin sgoodin decemb alway like differ last year filter break roy schulz thbthttt decemb apart teenag use term hater wendi wendywhistl decemb fuck year old know decemb peopl vote hole think would chang got power wrong men chang year olderphoto andrew burtongetti imag'

In [0]:
df.to_csv('clean.csv')
!cp clean.csv "drive/My Drive/Data Science"

In [0]:
link_true='https://drive.google.com/open?id=1pC7daDCEmdINGjTqDMEl60QZucLPc290'
fluff, id3 = link_true.split('=')
print (id3) # Verify that you have everything after '='

In [0]:
downloaded = drive.CreateFile({'id':id3}) 
downloaded.GetContentFile('clean.csv')

In [0]:
# Function to retrieve processed words

def final(X_data_full):
    
    # function for removing punctuations
    def remove_punct(X_data_func):
        string1 = X_data_func.lower()
        translation_table = dict.fromkeys(map(ord, string.punctuation),' ')
        string2 = string1.translate(translation_table)
        return string2
    
    X_data_full_clear_punct = []
    for i in range(len(X_data_full)):
        test_data = remove_punct(X_data_full[i])
        X_data_full_clear_punct.append(test_data)
        
    # function to remove stopwords
    def remove_stopwords(X_data_func):
        pattern = re.compile(r'\b(' + r'|'.join(stopwords.words('english')) + r')\b\s*')
        string2 = pattern.sub(' ', X_data_func)
        return string2
    
    X_data_full_clear_stopwords = []
    for i in range(len(X_data_full)):
        test_data = remove_stopwords(X_data_full[i])
        X_data_full_clear_stopwords.append(test_data)
        
    # function for tokenizing
    def tokenize_words(X_data_func):
        words = nltk.word_tokenize(X_data_func)
        return words
    
    X_data_full_tokenized_words = []
    for i in range(len(X_data_full)):
        test_data = tokenize_words(X_data_full[i])
        X_data_full_tokenized_words.append(test_data)
        
    # function for lemmatizing
    lemmatizer = WordNetLemmatizer()
    def lemmatize_words(X_data_func):
        words = lemmatizer.lemmatize(X_data_func)
        return words
    
    X_data_full_lemmatized_words = []
    for i in range(len(X_data_full)):
        test_data = lemmatize_words(X_data_full[i])
        X_data_full_lemmatized_words.append(test_data)
        
    # creating the bag of words model
    cv = CountVectorizer(max_features=1000)
    X_data_full_vector = cv.fit_transform(X_data_full_lemmatized_words).toarray()
    
    
    tfidf = TfidfTransformer()
    X_data_full_tfidf = tfidf.fit_transform(X_data_full_vector).toarray()
    
    return X_data_full_tfidf

In [0]:
# Preparing training and testing data using train_test_split

# Data preparation

X_data = df['text']
y_data = df.type
X_data = X_data.astype(str)

x_data=final(X_data)

X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state= seed)

In [0]:
# Instatiation, fitting and prediction

MNB = MultinomialNB()
MNB.fit(X_train, y_train)
predictions = MNB.predict(X_test)

In [0]:
# Model evaluation

print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

MNB_f1 = round(f1_score(y_test, predictions, average='weighted'), 3)
MNB_accuracy = round((accuracy_score(y_test, predictions)*100),2)

print("Accuracy : " , MNB_accuracy , " %")
print("f1_score : " , MNB_f1)

In [0]:
# Instatiation, fitting and prediction

rfc=RandomForestClassifier(n_estimators= 10, random_state= seed)
rfc.fit(X_train, y_train)
predictions = rfc.predict(X_test)

In [0]:
# Model evaluation

print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

rfc_f1 = round(f1_score(y_test, predictions, average= 'weighted'), 3)
rfc_accuracy = round((accuracy_score(y_test, predictions) * 100), 2)

print("Accuracy : " , rfc_accuracy , " %")
print("f1_score : " , rfc_f1)